html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
	margin: 0;
	padding: 0;
	line-height: 1;
	box-sizing: border-box;
}
.clearfix:before, .clearfix:after{
	display: table;
	content: "";
}
.clearfix:after{
	clear: both;
}
.clearfix{
	zoom: 1;
}
.wrapper{
	margin: 0 auto;
	max-width: 1150px;
	padding-left: 20px;
	padding-right: 20px;
}
body{
	background: #fff;
	color: #000;
	font-size: 10px;
	font-family: 'Calibri';
	font-weight: lighter;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	text-decoration: underline;
}
h1, h2 {
	font-weight: normal;
	font-size: 3em;
	color: #164879;
}
header{
	padding-top: 10px;
	font-family: 'MinionPro';
	font-weight: normal;
}

/*Left block*/
.profile {
	float:left;
	width: 50%;
	font-size: 16px;
}
main h1{
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 0;
}
.profile-foto {
	position: relative;
	float: left;
	width: 37%;
	margin-right: 36px;
	margin-bottom: 60px;
	color: #fff;
}
.profile-foto img {
	width: 100%;
	height: auto;
	border: 4px solid #63a815;
	border-radius: 10px;
}
a.del-foto {
	display: none;
	top: 4px;
	right: 4px;
	position: absolute;
	width: 21px;
	height: 21px;
	color: #fff;
	font-size: 16px;
	line-height: 17px;
	text-align: center;
	background: #000;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.55);
}
a.del-foto:hover {text-decoration: none;}
a.del-foto:hover::after {
	content: attr(data-title);
	position: absolute;
	top: -33px;
	right: -100px;
	background: #000;
	width: 109px;
	height: 22px;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.75);
}
a.del-foto:hover::before {
	content: url(../images/tail.png);
	position: absolute;
	top: -16px;
	left: 100%;
	z-index: 10;
}
.edit-foto {
	height: 0;
	position: absolute;
	bottom: 0;
	width: 96%;
	background: #000;
	background-color: rgba(0,0,0,0.65);
	text-align: center;
	border-radius: 0 0 6px 6px;
	margin: 0 4px 7px 4px;
	-webkit-transition: height .3s ease-in-out;
	   -moz-transition: height .3s ease-in-out;
	     -o-transition: height .3s ease-in-out;
	        transition: height .3s ease-in-out;
}
.edit-foto a {
	display: none;
	height: 50%;
	padding-left: 25px;
	line-height: 22px;
	background: url(../images/arrow.png) no-repeat left 50%;
}
.edit-foto a:last-child {background: url(../images/rectangle.png) no-repeat left 50%;}
.profile-foto:hover .edit-foto {
	height: 25%;
}
.profile-foto:hover .edit-foto a {display: inline-block;}
.profile-foto:hover a.del-foto {display: block;}
.profile-info h2 {
	font-size: 24px;
	margin: 14px 0;
}
i {display: inline-block;}
a.star {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/star.png);
	margin-right: 4px;
	margin-bottom: 10px;
}
.profile-info p {
	margin-bottom: 15px;
	font-size: 16px;
}
a.profile-portfolio {
	display: inline-block;
	width: 48%;
}
a.profile-portfolio img {
	width: 100%;
	height: auto;
}
a.profile-portfolio:hover {
	text-decoration: none;
	color: #ccc;
}
a.star:hover {background: url(../images/star2.png);}
a.star-active {background: url(../images/star2.png);}
.profile-post {margin-bottom: 27px;}
.profile-post img {
	float: left;
	margin-right: 36px;
}
.profile-post h3 {
	font-family: 'Lato-Light';
	font-size: 24px;
	color: #42aee3;
	margin-bottom: 25px;
	line-height: 12px;
}

/*Right block*/
.content {
	float: right;
	width: 43%;
}
.tabs {
	border: 3px solid #86ce01;
	border-radius: 10px;
	width: 100%;
	height: 600px;
}
.bookmarks {
	border: 1px solid #fff;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
}
a.bookmarks-item {
	display: inline-block;
	width: 33%;
	background: #ace2fc;
	border-left: 1px solid #fff;
	padding: 17px 0 14px 0;
	text-align: center;
	border-radius: 6px 0 0 0;
	font-size: 18px;
	color: #164879;
	margin-right: -8px;
}
a.bookmarks-item:first-child {
	border-left: 0;
}
a.bookmarks-item:last-child {
	width: 38%;
}
a.bookmarks-item:hover {
	text-decoration: none;
	color: #fff;
}
a.bookmark-active {background: #86ce01;}
.bookmarks-item-text {
	display: none;
	font-size: 16px;
	padding: 14px 23px;
}
.bookmarks-item-text p {padding-bottom: 25px;}
.text-active {display: block;}
.video-item {
	width: 326px;
	margin: 30px 55px 30px 67px;
}
.video-item iframe {
	margin-bottom: -2px;
	border-radius: 5px 5px 0 0;
	margin-bottom: -2px;
	box-shadow: 0 5px 3px -4px;
}
.video-item h4 {
	width: 326px;
	display: block;
	color: #fff;
	background: #25b2f6;
	height: 26px;
	font-size: 1.8em;
	border-radius: 0 0 5px 5px;
	text-align: center;
	line-height: 26px;
}


@media only screen and (max-width: 980px) {
	.wrapper{
		padding-left: 10px;
		padding-right: 10px;
	}
	.edit-foto {width: 94%;}
	.edit-foto a {
		height: 40%;
		font-size: 0.7em;
		padding-left: 20px;
		line-height: 15px;
	}
	.profile-foto {margin-bottom: 20px;}
	.profile-info h2 {
		margin: 0;
		font-size: 20px;
	}
	.content {width: 49%;}
	a.bookmarks-item {font-size: 12px;}
	.video {padding-top: 30px;}
	.video-item {
		margin: 0 auto;
    	margin-bottom: 30px;
	}
}

@media only screen and (max-width: 640px) {
	.edit-foto {width: 93%;}
	.profile, .content {
		float: none;
		width: 100%;
	}
	h1 {font-size: 2em;}
	.edit-foto {width: 95%;}
	a.bookmarks-item:last-child {
    	width: 37%;
	}
}

